.footer {
  padding: 1.2rem 1.6rem;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 1.2rem;
  font-family: "Geist Mono", monospace;
  display: flex;
  gap: 2.8rem;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  border-top: 0.05rem solid rgb(60 60 60);
  background-color: rgb(9 9 9);
  z-index: 50;
  @include media("<phone") {
    font-size: 1rem;
  }

  a {
    text-decoration: underline;
  }
}
