.header {
  padding: 0.2rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  font-size: 1.4rem;
  font-family: "Geist Mono", monospace;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  border-bottom: 0.05rem solid rgb(60 60 60);
  background-color: rgb(9 9 9);
  z-index: 50;

  i {
    display: block;
    width: 0.05rem;
    height: 1.6rem;
    background-color: rgb(60 60 60);
  }

  &-logo {
    margin: auto;
    transform: scale(1.35);
    font-family: "Formula Condensed";
    transform-origin: 50% 0%;
  }

  &-link {
    padding: 1.4rem;
    &:nth-of-type(1) {
      padding-right: 2.8rem;
    }
    &:nth-of-type(2) {
      padding-left: 2.8rem;
    }
  }
}
