.article {
  position: relative;
  display: flex;
  min-height: 100svh;
  font-family: "Season VF Sans";

  &-left {
    background-color: #0f0f0f;
    width: 32rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 15.8rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-size: 1.8rem;
    color: #8c8c8c;
    border-right: 0.05rem solid rgb(30 30 30);
    @include media("<phone") {
      display: none;
    }

    [data-h2] {
      // padding-left: 2rem;
      cursor: pointer;
      transition: all 0.15s ease;
      &:hover {
        color: #eee;
      }
    }
  }

  &-right {
    width: 100%;
    padding: 0rem 28rem 10rem 42rem;
    @include media("<phone") {
      padding: 0 4rem 4rem;
    }

    [id] {
      padding-top: 14.8rem;
    }
  }

  &-head {
    border-bottom: 0.05rem solid rgb(60 60 60);
    padding-bottom: 3.2rem;

    h1 {
      color: #eee;
      font-size: 4rem;
      font-weight: 900;
      margin-bottom: 4rem;
    }
    p {
      font-size: 1.8rem;
      color: #8c8c8c;
      margin-top: 1rem;
    }
  }

  &-body {
    padding-top: 0.1rem;
    font-size: 2rem;
    color: #b6b6b6;
    line-height: 150%;

    p {
      margin-top: 2.4rem;
    }

    *:has(+ h2) {
      margin-bottom: -10.8rem;
    }

    h2 {
      color: #eee;
      font-size: 1.1em;
      white-space: break-spaces;

      & + div {
        // margin-left: 1.6rem;
      }
    }

    video {
      margin-block: 2.4rem;
      // clip-path: inset(0.2rem);
      // background-color: oklch(100 0.1 0deg);
      background-color: #5e95c8;
      min-height: 42rem;
      @include media("<phone") {
        min-height: 20rem;
      }
    }

    i {
      font-size: 0.8em;
      display: block;
      width: 100%;
      text-align: center;
    }

    b {
      font-size: 0.9em;
      display: block;
      margin-top: 2.4rem;
      color: oklch(0.78 0.025 0);
    }
  }

  &-hero {
    margin: 0 1.6rem;
    padding: 0 0 6.4rem;
    border-bottom: 0.05rem solid rgb(60 60 60);
    h1 {
      font-size: 12rem;
      text-transform: uppercase;
      border-bottom: 0.05rem solid rgb(60 60 60);
      padding-bottom: 0.8rem;
    }
    p {
      font-family: "Season VF Sans";
      font-size: 2.4rem;
      margin-left: auto;
      width: 37.5%;
      padding: 1.6rem 0;
      line-height: 1.3;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 16rem;

    li {
      * {
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        transition-duration: 0.4s;
        &:hover,
        &:hover * {
          transition-duration: 0.25s;
          // transition-timing-function: cubic-bezier(1, 0, 0, 1);
          // transition-duration: 0.5s;
        }
      }
      display: flex;
      gap: 2rem;
      align-items: center;
      margin: 0 1.6rem;
      border-bottom: 0.05rem solid #3c3c3c;
      opacity: 0.875;
      cursor: pointer;
      position: relative;
      clip-path: inset(0% -1.6rem);
      // clip-path: inset(0% 0rem);
      &:hover {
        opacity: 1;
        figure {
          transform: scale(0.85);
          background-color: oklch(100 0.3 calc(var(--deg) * 1deg));
          animation-play-state: paused;
        }
        aside {
          transform: translateY(0);
          opacity: 1;
        }
        h2 {
          transform: translateY(-130%);
        }
        h3 {
          transform: translateY(0%);
        }
        svg {
          opacity: 1;
        }
        path {
          transform: translate(0);
        }
      }
    }

    aside {
      position: absolute;
      inset: 0.2rem -1.6rem -0.2rem;
      background-color: rgb(239 239 234);
      transform: translateY(100%);
      opacity: 0.75;
    }

    figure {
      width: 6.8rem;
      height: 6.8rem;
      background-color: oklch(100 0.1 calc(var(--deg) * 1deg));
      // animation: hue-rotate 5s linear infinite;
      position: relative;
      z-index: 2;
    }

    h2,
    h3 {
      font-family: "Formula Condensed";
      font-size: 8rem;
      text-transform: uppercase;
      padding-top: 1.6rem;
    }

    h3 {
      position: absolute;
      left: 8.8rem;
      top: 0rem;
      z-index: 1;
      transform: translateY(130%);
      color: rgb(9 9 9);
    }

    svg {
      width: 12rem;
      height: 12rem;
      // color: oklch(100 0.3 calc(var(--deg) * 1deg));
      color: #000;
      position: absolute;
      top: 50%;
      right: 0.6rem;
      transform: translateY(-50%);
      z-index: 1;
      opacity: 0;
    }
    path {
      transform: translate(-75%, 75%);
    }
  }

  @keyframes hue-rotate {
    0% {
      filter: hue-rotate(0deg);
    }
    0% {
      filter: hue-rotate(360deg);
    }
  }
}
